
@media ( max-width: 1100px){
  .intro{
    .slider{
      img{
        width: 100%;
        height: auto;
      }
      .slick-prev{left: 50px;}
      .slick-next{right: 50px;}
    }
  }
}

@media ( max-width: 760px){
  .header{
    position: relative;
    .menu-slide{
      display: block;
    }
    &__menu{
      display: none;
      position: absolute;
      top: calc(100% + 10px);
      left: 50%;
      transform: translatex(-50%);
      max-width: 580px;
      width: 100%;
      z-index: 200;
      padding-top: 10px;
      padding-bottom: 10px;
      &.active{
        display: block;
      }
      ul{
       
        li{
          &.current{
            a{
              color: #fff;
            }
            &::after{
              display: none;
            }
          }
        }
      }
    }
  }
}

@media ( max-width: 620px){
  .header{
    &__menu{
      width: 100%;
      background-color: #555;
      ul{
        
        li{
          display: block;
          text-align: center;
          & + li{
            margin-left: 0;
            margin-top: 20px;
          }
          
        }
        a{
          font-size: 25px;
          color: #fff
        }
      }
    }
  }
  .intro{
    .slider{
      &__title{
        font-size: 50px;
      }
    }
  }
  
}

@media ( max-width: 550px){
  .intro{
    .slider{
      &__item{
        height: 700px;
      }
    }
  }
}
@media ( max-width: 400px){
  .intro{
    .slider{
      &__item{
        height: 610px;
      }
    }
  }
}















@media (min-width: 761px){
  .header__menu{display: block !important;}
}