html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  position: relative;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: 'Sofia-Pro';
  background-color: #f0eeee;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-large {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}
.black{
  background-color: #000;
  color: #fff;
}
.section__logo{
  margin: 0 auto;
  text-align: center;
  &-title{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      display: block;
      width: 33px;
      height: 33px;
      background-image: url(../../img/svg/logo.png);
      @include back;
      top: 4px;
      left: 50%;
      transform: translatex(-150px);
    }
  }
  &-text{
    font-size: 18px;
    font-weight: 400;
    margin-left: -47px;
    margin-top: 15px;
  }
}
.big-link{
  font-weight: 500;
  font-size: 22px;
  color: #3589d0;
  position: relative;
  font-weight: 700;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  transition: .4s;
  &::after{
    position: absolute;
    content: '';
    width: 9px;
    height: 15px;
    background-image: url(../../img/svg/arrow-blue.png);
    @include back;
    right: -18px;
    top: 8px;
  }
  &:hover{
    border-color: #3589d0;
  }
}
.small-link{
  font-weight: 500;
  font-size: 14px;
  color: #3589d0;
  position: relative;
  font-weight: 700;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  transition: .4s;
  &::after{
    position: absolute;
    content: '';
    width: 6px;
    height: 8px;
    background-image: url(../../img/svg/arrow-blue-small.png);
    @include back;
    right: -12px;
    top: 6px;
  }
  &:hover{
    border-color: #3589d0;
  }
}