@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProBold.woff2') format('woff2'),
        url('SofiaProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProRegular.woff2') format('woff2'),
        url('SofiaProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProExtraLight.woff2') format('woff2'),
        url('SofiaProExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProMedium.woff2') format('woff2'),
        url('SofiaProMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProUltraLight.woff2') format('woff2'),
        url('SofiaProUltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProLight.woff2') format('woff2'),
        url('SofiaProLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

