// import libs
@import "../../node_modules/normalize-scss/sass/normalize/import-now";

@import 'components/vars.scss';
@import 'components/mixins.scss';
@import 'components/fonts.scss';
@import 'components/scaffolding.scss';

.header{
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid #c8c8c8;
  .menu-slide{
    display: none;
    text-transform: capitalize;
    &:hover{
      cursor: pointer;
    }
  }
  &__menu{
    ul{
        li{display: inline-block;
          & + li{margin-left: 85px;}
          &.current{
            position: relative;
            a{
              color: black;
            }
            &::after{
              position: absolute;
              content: '';
              display: block;
              border: none;
              border-radius: 50%;
              background-color: #c8c8c8;
              width: 5px;
              height: 5px;
              left: 50%;
              transform: translatex(-50%);
              bottom: -10px;
            }
          }
        }
        a{
          font-size: 12px;
          color: #686868;
          text-transform: capitalize;
        }
    }
  }
  &__search{
    input{
      border: none;
      outline: none;
      border-bottom: 1px solid rgba(#000, .5);
      background-color: transparent;
      font-size: 14px;
      width: 0;
      text-align: right;
      padding: 0 10px;
      transition: .4s;
      opacity: 0;
      &::placeholder{
        color: #686868;
        font-size: 14px;
      }
    }
    .search:hover{
      cursor: pointer;
    }
    &.active{
      input{
        opacity: 1;
        width: 200px;
      }
    }
  }
  
}



@import 'components/media.scss';