// import libs
@import "../../node_modules/normalize-scss/sass/normalize/import-now";

@import 'components/vars.scss';
@import 'components/mixins.scss';
@import 'components/fonts.scss';
@import 'components/scaffolding.scss';

.header{
   display: flex;
   justify-content: space-between;
   min-height: 70px;
   align-items: center;
   margin-top: 10px;
   position: relative;
   .menu-slide{
      display: none;
   }
   &__menu{
      ul{
         li{display: inline-block;
            & + li{margin-left: 85px;}
            &.current{
               a{color: #000;}
            }
         }
         a{
            font-size: 12px;
            color: #686868;
            text-transform: capitalize;
         }
      }
   }
   &__search{
      opacity: 0;
      input{
         border: none;
         outline: none;
         border-bottom: 1px solid rgba(#000, .5);
         background-color: transparent;
         font-size: 14px;
         width: 200px;
         text-align: right;
         padding: 5px 10px;
         &::placeholder{
            color: #686868;
            font-size: 14px;
         }
      }
      &.active{
         opacity: 1;
      }
      
      .search{
         position: absolute;
         right: 0;
         top: 0;
      }
      
   }
}