// import libs
@import "../../node_modules/normalize-scss/sass/normalize/import-now";

@import 'components/vars.scss';
@import 'components/mixins.scss';
@import 'components/fonts.scss';
@import 'components/scaffolding.scss';

.header{
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid #c8c8c8;
  .menu-slide{
    display: none;
    text-transform: capitalize;
    &:hover{
      cursor: pointer;
    }
  }
  &__menu{
    ul{
        li{display: inline-block;
          & + li{margin-left: 85px;}
          &.current{
            position: relative;
            a{
              color: black;
            }
            &::after{
              position: absolute;
              content: '';
              display: block;
              border: none;
              border-radius: 50%;
              background-color: #c8c8c8;
              width: 5px;
              height: 5px;
              left: 50%;
              transform: translatex(-50%);
              bottom: -10px;
            }
          }
        }
        a{
          font-size: 12px;
          color: #686868;
          text-transform: capitalize;
        }
    }
  }
  &__search{
    input{
      border: none;
      outline: none;
      border-bottom: 1px solid rgba(#000, .5);
      background-color: transparent;
      font-size: 14px;
      width: 0;
      text-align: right;
      padding: 0 10px;
      transition: .4s;
      opacity: 0;
      &::placeholder{
        color: #686868;
        font-size: 14px;
      }
    }
    .search:hover{
      cursor: pointer;
    }
    &.active{
      input{
        opacity: 1;
        width: 200px;
      }
    }
  }
  
}
.intro{
  .slider{
    &__item{
      padding-top: 80px;
      text-align: center;
      color: #000;
      height: 780px;
      overflow-y: hidden;
    }
    &__title{
      font-size: 73px;
      font-weight: 500;
    }
    &__text{
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 30px;
    }
    &__link{
      font-size: 12px;
      color: #3589d0;
      font-weight: 600;
      padding: 5px 10px 5px 30px;
      border: 1px solid #3589d0;
      position: relative;
      transition : .4s;
      &::before{
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        background-image: url(../img/svg/play-arrow.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        left: 15px;
        top: 8px;
      }
      &:hover{
        transform: scale( 1.05);
      }
    }
    img{
      display: block;
      margin: 0 auto;
      margin-top: 30px;
    }
    .slick-next,
    .slick-prev{
      width: 13px;
      height: 23px;
      z-index: 100;
      // background-color: transparent;
      &::before{
        position: absolute;
        content: '';
        display: block;
        width: 13px;
        height: 23px;
        top: 0;
        left: 0;
        @include back;
        
      }
    }
    .slick-prev{left: 110px;}
    .slick-next{right: 110px;}
    .slick-prev::before{background-image: url(../img/raster/arrow-left.png);}
    .slick-next::before{background-image: url(../img/raster/arrow-right.png);}
    .slick-dots{
      li{
        background-color: #999;
        border: none;
        border-radius: 50%;
        &.slick-active{
          background-color: #555;
        }
        button::before{display: none;}
      }
    }
  }
  .black{
    background-image: url(../img/raster/watch-bg.png);
    background-size: contain;
    background-position: 0 left;
    background-repeat: no-repeat;
    
    &__inner{
      display: flex;
      min-height: 800px;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  
  &__image{
    width: 50%;
    text-align: center;
  }
  &__info{
    width: 50%;
    text-align: right;
    &-title{
      font-weight: 500;
      font-size: 55px;
      text-transform: lowercase;
      margin-bottom: 30px;
    }
    &-text{
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 65px;
    }
    &-link,
    &-desc{
      font-weight: 300;
      font-size: 14px;
      color: #fff;
    }
    &-link{
      padding: 15px 20px;
      padding-top: 13px;
      border: 1px solid #fff;
      transition: .4s;
      &:hover{
        background-color: #999;
        border-color: #999;
        color: #000;
      }
      & + &{
        margin-left: 35px;
      }
    }
    &-desc{
      opacity: .3;
      margin-top: 70px;
    }
  }
}
.design{
  padding-top: 70px;
  // padding-bottom: 170px;
  text-align: center;
  &__title{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  &__suptitle{
    font-size: 25px;
    line-height: 44px;
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .big-link + .big-link{margin-left: 65px;}
  &__specs{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__spec{
    max-width: 25%;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 30px;
    &-title{
      font-size: 18px;
      font-weight: 700;
      margin-top: 16px;
      margin-bottom: 20px;
    }
    &-text{
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 17px;
    }
  }
  &-black{
    &__inner{
      display: flex;
      min-height: 800px;
      align-items: center;
    }
    &__info{
      width: 50%;
      text-align: left;
      padding-right: 30px;
    }
    &__title{
        font-weight: 500;
        font-size: 55px;
        text-transform: lowercase;
        margin-bottom: 30px;
      }
    &__text{
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 65px;
    }
    &__link,
    &__desc{
      font-weight: 300;
      font-size: 14px;
      color: #fff;
    }
    &__link{
      padding: 15px 20px;
      padding-top: 13px;
      border: 1px solid #fff;
      transition: .4s;
      &:hover{
        background-color: #999;
        border-color: #999;
        color: #000;
        
      }
    }
    &__desc{
      opacity: .3;
      margin-top: 70px;
    }  
    &__image{
      width: 50%;
    }
  }

}
.price{
  &__info{
    max-width: 680px;
    width: 100%;
    margin: 80px auto ;
    text-align: center;
    .big-link + .big-link{margin-left: 65px;}
  }
  &__desc{
    font-size: 18px;
    line-height: 44px;
    margin-bottom: 40px;
  }
  // &__items{}
  .__item{
    max-width: 25%;
    width: 100%;
    &-img{
      display: block;
      margin: 0 auto;
    }
  }
}



@import 'components/media.scss';